[user]
	email = 101303556+Vietpersie@users.noreply.github.com
	name = Nguyen Hoang Viet
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
